.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 102vh;
  box-shadow: 2px 2px 50px rgb(202, 202, 202);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  background: white;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}
.dark-mode-library {
  background: black;
  box-shadow: 2px 2px 5px rgb(202, 202, 202);
  h2,
  h3 {
    color: rgb(207, 207, 207);
  }
  .library-song:hover,
  .selected {
    h3 {
      color: #363636;
    }
  }
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  transition: background 0.5s ease;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background: #87afff;
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

.selected {
  background: #87afff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  padding: 0;
}

*::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and(max-width: 768px) {
  .active-library {
    width: 100%;
  }
}
