nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(85, 85, 85);
      color: white;
    }
  }
}
