.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;

    box-shadow: 3px 2px 10px #919191;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}
.dark-mode-song {
  h2 {
    color: rgb(207, 207, 207);
  }
  img {
    box-shadow: 2px 2px 5px #bebebe;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
