@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "../index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
}

.container {
  transition: all 0.5s ease;
}

.library-active {
  .container {
    margin-left: 30%;
  }
}

.dark-mode {
  background-color: black;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
